
@{//dn1
    ViewBag.Title = "ConfirmAccount";
    Layout = "~/Views/Shared/_lightLayoutLogin.cshtml";
}

<h2>ConfirmAccount</h2>
<h3>
    Cám ơn bạn đã xác nhận email.
    Vui lòng đợi Quản trị duyệt và gửi mail cho bạn để sử dụng hệ thống.
</h3>
