
@{//dn1
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_lightLayoutLogin.cshtml";
}
<h2>Registered</h2>
<h3>
    A confirm email will be send to @ViewBag.UserName shortly.
    You can log into System after you confirm you email and approved by Admin.
</h3>
