
@{
    ViewBag.Title = "Output VAT Invoice Configuration";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Output VAT Invoice Configuration</h2>

@Html.Action("OutputVATInvoiceConfigGridViewPartial")
