<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Sample>
  <ExampleOid>d4da98bc-4f4f-11e2-8d5f-c44619bb5309</ExampleOid>
  <ExampleID>E4433</ExampleID>
  <ExampleUrl>http://www.devexpress.com/example=E4433</ExampleUrl>
  <ProductName>MVC GridView</ProductName>
  <Technology>DXperience</Technology>
  <Name>GridView - How to display master-detail tables in two grids on separate tabs of a PageControl</Name>
  <Description>This example demonstrates how to use two GridView extensions to display related tables. The GridView extensions are located on the PageControl TabPages. To filter data in the second (detail) GridView, focus a row of the first (master) GridView and activate the second TabPage. 
Note that the detail GridView does not get filtered until you change the active TabPage. This was made for performance reasons.</Description>
  <RequiredExampleRunnerVersion>3.0.15.0</RequiredExampleRunnerVersion>
  <SupportedVersions>
    <Version>12.1.9</Version>
    <Version>12.1.10</Version>
    <Version>12.1.11</Version>
    <Version>12.1.12</Version>
    <Version>12.2.4</Version>
    <Version>12.2.5</Version>
    <Version>12.2.6</Version>
    <Version>12.2.7</Version>
    <Version>12.2.8</Version>
    <Version>12.2.10</Version>
    <Version>12.2.11</Version>
    <Version>12.2.12</Version>
    <Version>12.2.13</Version>
    <Version>12.2.15</Version>
    <Version>12.2.16</Version>
    <Version>12.2.17</Version>
    <Version>12.2.18</Version>
    <Version>13.1.4</Version>
    <Version>13.1.5</Version>
    <Version>13.1.6</Version>
    <Version>13.1.7</Version>
    <Version>13.1.8</Version>
    <Version>13.1.9</Version>
    <Version>13.1.10</Version>
    <Version>13.1.11</Version>
    <Version>13.1.12</Version>
    <Version>13.2.5</Version>
    <Version>13.2.6</Version>
    <Version>13.2.7</Version>
    <Version>13.2.8</Version>
    <Version>13.2.9</Version>
    <Version>13.2.10</Version>
    <Version>13.2.11</Version>
    <Version>13.2.12</Version>
    <Version>13.2.13</Version>
  </SupportedVersions>
  <SupportedIDEs>
    <IDE>Microsoft Visual Studio 2010</IDE>
    <IDE>Microsoft Visual Studio 2012</IDE>
    <IDE>Microsoft Visual Studio 2013</IDE>
    <IDE>Microsoft Visual Studio 2015</IDE>
  </SupportedIDEs>
  <KeepNUnitTests>False</KeepNUnitTests>
</Sample>