
@{
    ViewBag.Title = "Sales Online";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="col-md-12"><h2>Sales Online</h2></div>



@Html.Action("SalesOnlineGridViewPartial")
