
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    function UpdateGridView() {
            GridView.UpdateEdit();
    }
</script>

@Html.Action("GridViewPartial")
