<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <connectionStrings>
    <add name="ConnectionString" connectionString="Persist Security Info=True;Password=123456;User ID=sa;Data Source=.\SQLEXPRESS;Initial Catalog=CFDBS123" providerName="System.Data.SqlClient" /><!--CFDBS   CodeFirstNewDatabaseSample.BloggingContext-->
  <!--<add name="CFDBS12Entities" connectionString="metadata=res://*/DBF.csdl|res://*/DBF.ssdl|res://*/DBF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=CFDBS12;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>