#LayoutSplitter .HeadPane
{
	background: #393939;
}
.calendar #LayoutSplitter .SidePane,
.contacts #LayoutSplitter .SidePane,
.feeds #LayoutSplitter .SidePane
{
	background: #f5f5f5;
}

#LayoutSplitter .RightPane.HeadPane
{
    border-left-color: White;
}

.CalendarNavArea
{
	background: #f5f5f5;
}

.DateNavigatorContainer
{
	background: #f3f3f3;
}

.HeadPane .ActionToolbar .Spacer b
{
    background: White;
}

#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item .dxm-content
{
    color: White;
}

#LayoutSplitter .ActionToolbar .SubMenu.dxm-popup .dxm-item .dxm-content
{
    padding-top: 4px;
    padding-left: 6px;
}
#LayoutSplitter .ActionToolbar .SubMenu.dxm-popup .dxm-item .dxm-image
{
    margin-top: -1px;
    margin-right: 12px;
}

.HeadPane .ActionToolbar .SearchBox
{
    margin-top: 1px;
}

.print .ContactReportToolbar .dxmMenuSeparator_Office2010Black,
.print .ScheduleReportToolbar .dxmMenuSeparator_Office2010Black
{
    width: 100%;
}
.print .MailReportToolbar .dxmMenuSeparator_Office2010Black
{
    width: 50%;
}
.print .dxmMenuSeparator_Office2010Black .dx 
{
    background: transparent;
}