#LayoutSplitter .HeadPane
{
	background: #d6dcbb;
}

.CalendarNavArea
{
	background: #e2e8c9;
}

.HeadPane .ActionToolbar .Spacer b
{
    background: #758d5e;
}

#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item .dxm-content,
#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item.dxm-hovered .dxm-content
{
    color: #707e62;
}

#LayoutSplitter .ActionToolbar .SubMenu.dxm-popup .dxm-item .dxm-content
{
    padding-top: 2px;
}
#LayoutSplitter .ActionToolbar .SubMenu.dxm-popup .dxm-item .dxm-image
{
    margin-right: 10px;
	margin-top: -1px;
}

.HeadPane .ActionToolbar .SearchBox
{
    margin-top: 1px;
}

.ContactCard 
{
    border: 1px solid #a4b26d;
}
.contacts .dxdvContent_Office2003Olive
{
    padding: 5px;
}

.print .ContactReportToolbar .dxmMenuSeparator_Office2003Olive,
.print .ScheduleReportToolbar .dxmMenuSeparator_Office2003Olive
{
    width: 100%;
}
.print .MailReportToolbar .dxmMenuSeparator_Office2003Olive
{
    width: 50%;
}
.print .dxmMenuSeparator_Office2003Olive .dx 
{
    background: transparent;
}