<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.NASIDConnectionString" connectionString="Data Source=192.168.1.120;Initial Catalog=NASID;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>

    </compilation>
    </system.web>
</configuration>